:host {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.color-picker {
    width: 300px;
    height: 600px;
}
